<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <i class="material-icons">credit_score</i>
        </div>
        <h4 class="card-title">
          <strong>{{ titulo }}</strong>
        </h4>
      </div>

      <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Fecha"
                  formControlName="fecha"
                  (click)="picker.open()"
                  [disabled]="true"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input
                  [disabled]="true"
                  type="text"
                  matInput
                  placeholder="NRO FACTURA"
                  formControlName="nroFactura"
                />
                <span matPrefix>001-001&nbsp;</span>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="example-full-width">
                <input
                  type="search"
                  matInput
                  placeholder="CLIENTE"
                  formControlName="nombreCliente"
                  (click)="buscadores('cliente')"
                />
                <button
                  mat-button
                  matSuffix
                  mat-stroked-button
                  aria-label="search"
                  (click)="buscadores('cliente')"
                >
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="form-group">
              <button
                mat-raised-button
                type="button"
                class="btn btn-primary"
                (click)="confirmar()"
                [disabled]="!form.valid"
              >
                Confirmar
              </button>
              <button
                mat-raised-button
                type="button"
                class="btn btn-default btn-fill btn-wd"
                (click)="cancelar()"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
