<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <i class="material-icons">date_range</i>
        </div>
        <h4 class="card-title"><strong>VENCIMIENTO DE PUNTOS</strong></h4>
      </div>

      <mat-accordion>
        <mat-expansion-panel [(expanded)]="expanded" class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Filtros de Búsqueda</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form
            [formGroup]="filtrosForm"
            (keydown.enter)="$event.preventDefault()"
          >
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <mat-form-field>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      placeholder="FECHA INICIO"
                      formControlName="fechaInicioValidez"
                      (click)="picker.open()"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field>
                    <input
                      matInput
                      [matDatepicker]="picker2"
                      placeholder="FECHA FIN"
                      formControlName="fechaFinValidez"
                      (click)="picker2.open()"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker2"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="example-full-width">
                    <input
                      type="number"
                      matInput
                      placeholder="DURACIÓN EN DÍAS"
                      formControlName="cantDiasDuracion"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="form-group">
                  <button
                    class="btn btn-accent"
                    (click)="agregar()"
                    mat-raised-button
                    color="warn"
                  >
                    Agregar
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <button
                    mat-raised-button
                    type="button"
                    class="btn btn-primary"
                    (click)="buscar()"
                  >
                    Buscar
                  </button>
                  <button
                    mat-raised-button
                    type="button"
                    class="btn btn-default btn-fill btn-wd"
                    (click)="limpiar()"
                  >
                    Limpiar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="card">
        <table
          mat-table
          [dataSource]="data"
          class="example-table"
          matSort
          matSortActive="idVencimientoPunto"
          matSortDisableClear
          matSortDirection="desc"
        >
          <!-- Number Column -->
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
          </ng-container>
          <!-- definicion dinamica de las columnas -->
          <ng-container
            *ngFor="let columna of listaColumnas"
            [matColumnDef]="columna.matDef"
          >
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              <strong>{{ columna.descripcion }}</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              [ngClass]="{ selected: row === selectedRow }"
              (click)="onRowClicked(row)"
            >
              {{ mostrarCampo(row, columna) }}
            </td>
          </ng-container>

          <!-- Accion Column -->
          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef>
              <strong>ACCIONES</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              style="text-align: center"
              [ngClass]="{ selected: row === selectedRow }"
              (click)="onRowClicked(row)"
            >
              <button ngbTooltip="Eliminar" mat-button>
                <mat-icon color="warn" data-action-type="eliminar"
                  >cancel</mat-icon
                >
              </button>
              <button ngbTooltip="Editar" mat-button>
                <mat-icon color="primary" data-action-type="editar"
                  >edit</mat-icon
                >
              </button>
              <!-- <button ngbTooltip="Activar" mat-button>
                                                <mat-icon color="accent" data-action-type="activar"
                                                  >check_circle</mat-icon
                                                >
                                              </button> -->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="acciones(row, $event)"
          ></tr>
        </table>
        <mat-paginator
          [length]="resultsLength"
          [pageSizeOptions]="opcionPagina"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
