<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <i class="material-icons">person</i>
        </div>
        <h4 class="card-title">
          <strong>{{ titulo }}</strong>
        </h4>
      </div>

      <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  matInput
                  placeholder="NOMBRE"
                  formControlName="nombre"
                  required
                />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  matInput
                  placeholder="APELLIDO"
                  formControlName="apellido"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="FECHA NACIMIENTO"
                  formControlName="fechaNacimiento"
                  (click)="picker.open()"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input
                  type="email"
                  matInput
                  placeholder="CORREO"
                  formControlName="email"
                  required
                />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field>
                <mat-label>TIPO DOCUMENTO</mat-label>
                <mat-select formControlName="idTipoDocumento">
                  <mat-option
                    *ngFor="let item of listaTipoDoc"
                    [value]="item.idTipoDocumento"
                  >
                    {{ item.descripcion }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  matInput
                  placeholder="DOCUMENTO"
                  formControlName="documento"
                  required
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>NACIONALIDAD</mat-label>
                <mat-select
                  formControlName="nacionalidad"
                  (selectionChange)="seleccionarPrefijo($event.value)"
                >
                  <mat-option
                    *ngFor="let item of listaNacionalidades"
                    [value]="item.codigo"
                  >
                    {{ item.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  matInput
                  placeholder="TÉLEFONO"
                  formControlName="telefono"
                  required
                />

                <span matPrefix>{{ prefijoTelefono }}&nbsp;</span>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="form-group">
              <button
                mat-raised-button
                type="button"
                class="btn btn-primary"
                (click)="confirmar()"
                [disabled]="!form.valid"
              >
                Confirmar
              </button>
              <button
                mat-raised-button
                type="button"
                class="btn btn-default btn-fill btn-wd"
                (click)="cancelar()"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
