<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">summarize</i>
                </div>
                <h4 class="card-title"><strong>Reporte de Extendido de Venta</strong></h4>
            </div>
            <div class="container">
                <div class="col-sm-6">
                    <br>
                    <br>
                    <p>
                        <b>ID:</b> {{venta.idVenta}}
                    </p>
                    <p>
                        <b>Fecha:</b> {{venta.fecha}}
                    </p>
                    <p>
                        <b>Cliente:</b> {{venta.nombreCliente}}
                    </p>
                    <p>
                        <b>Numero de Factura: </b> {{venta.prefijoFactura}}- {{venta.nroFactura}}
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="form-group">
                    <button
                    mat-raised-button
                    type="button"
                    class="btn btn-primary"
                    (click)="downloadExcel()"
                    >
                    EXCEL <i class="material-icons">format_list_bulleted</i>
                </button>
                <button
                mat-raised-button
                type="button"
                class="btn btn-default btn-fill btn-wd"
                (click)="downloadPdf()"
                >
                PDF <i class="material-icons">picture_as_pdf</i>
            </button>
        </div>
    </div>
    
    <table class="table">
        <thead>
            <th>ID Producto</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
        </thead>
        <tr *ngFor="let producto of venta.detalle" >
            <td>{{producto.idProducto}}</td>
            <td>{{producto.nombreProducto}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.subtotal}}</td>
        </tr>
    </table>
    <div class="container">
        <div class="col-sm-6">
            <h4>Total: {{venta.total}}</h4>
        </div>
    </div>
</div>
</div>
</div>
